.u-section-1 .u-sheet-1 {min-height: 892px}
.u-section-1 .u-list-1 {min-height: 772px; grid-gap: 10px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-template-rows: repeat(1, auto); width: 889px; height: auto; margin: 60px auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-1 {margin: 20px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 20px 0 0}
.u-section-1 .u-text-4 {margin: 20px 0 0}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-5 {margin: 20px 0 0}
.u-section-1 .u-text-6 {margin: 20px 0 0}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-image-4 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-7 {margin: 20px 0 0}
.u-section-1 .u-text-8 {margin: 20px 0 0}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-image-5 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-9 {margin: 20px 0 0}
.u-section-1 .u-text-10 {margin: 20px 0 0}
.u-section-1 .u-container-layout-6 {padding: 30px}
.u-section-1 .u-image-6 {width: 220px; height: 220px; margin: 0 auto}
.u-section-1 .u-text-11 {margin: 20px 0 0}
.u-section-1 .u-text-12 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-list-1 {grid-template-columns: repeat(3, calc(33.333333333333336% - 7px))} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1247px}
.u-section-1 .u-list-1 {min-height: 1127px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; width: auto; margin-right: initial; margin-left: initial} }